<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario</title>
</head>
<body>

<h1>Formulario de Información Personal</h1>
<form action="#" th:action="@{/personal-info-save}" th:object="${personalInfo}" method="post">
    <div>
        <label>Nombre: </label>
        <input type="text" name="firstName" id="firstName" th:field="*{fistName}">
    </div>
    <div>
        <label>Email: </label>
        <input type="text" name="email" id="email" th:field="*{email}">
    </div>
    <button type="submit">Guardar</button>
</form>
</body>
</html>